<html>
<head></head>
<body>
    <form method="POST" action="/login">
        <label for="username">Username</label>
        <input name="username" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <label for="password">Remember me</label>
        <input type="checkbox" name="remember_me" checked="checked"/>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>
