.slider * {
    box-sizing: border-box;
}

.slider {
    height: 40px;
    margin: 30px auto;
    position: relative;
    width: 80%;
}

.slider_section {
    background-color: #333;
    display: block;
    float: left;
    height: 50%;
    position: absolute;
    top: 25%;
    z-index: 0;
}

.slider_handle {
    background-color: #eee;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    width: 40px;
    z-index: 10;
}

.slider_marker {
    background-color: #C00000;
    height: 50%;
    position: absolute;
    top: 25%;
    width: 1%;
    z-index: 5;
}

.handle_number, .marker_number {
    color: #FFF;
    position: absolute;
    top: 100%;
    z-index: 12
}
